<?xml version="1.0" encoding="utf-8"?>
<!--
    MindBell - Aims to give you a support for staying mindful in a busy life -
               for remembering what really counts
   
        Copyright (C) 2010-2014 Marc Schroeder
        Copyright (C) 2014-2018 Uwe Damken
   
    Licensed under the Apache License, Version 2.0 (the "License");
    you may not use this file except in compliance with the License.
    You may obtain a copy of the License at
   
        http://www.apache.org/licenses/LICENSE-2.0
   
    Unless required by applicable law or agreed to in writing, software
    distributed under the License is distributed on an "AS IS" BASIS,
    WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
    See the License for the specific language governing permissions and
    limitations under the License.
 -->

<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.googlecode.mindbell">

    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.READ_PHONE_STATE"/>
    <uses-permission android:name="android.permission.VIBRATE"/>

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/MindBellTheme">

        <activity
            android:name=".activity.MainActivity"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>

        <activity
            android:name=".activity.SettingsActivity"
            android:label="@string/preferencesTitle"
            android:parentActivityName=".activity.MainActivity">
        </activity>

        <activity
            android:name=".activity.ReminderShowActivity"
            android:excludeFromRecents="true"
            android:label="@string/app_name">
        </activity>

        <activity
            android:name=".activity.AboutActivity"
            android:label="@string/title_activity_about"
            android:parentActivityName=".activity.MainActivity">
        </activity>

        <activity
            android:name=".activity.MuteActivity"
            android:noHistory="true">
        </activity>

        <service android:name=".service.InterruptService">
        </service>

        <receiver android:name=".receiver.RestartReceiver">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED"/>
                <action android:name="android.intent.action.MY_PACKAGE_REPLACED"/>
            </intent-filter>
        </receiver>

        <receiver android:name=".receiver.RefreshReceiver">
            <intent-filter>
                <action android:name="android.app.action.INTERRUPTION_FILTER_CHANGED"/>
                <action android:name="android.intent.action.AIRPLANE_MODE"/>
                <action android:name="android.intent.action.PHONE_STATE"/>
                <action android:name="android.media.RINGER_MODE_CHANGED"/>
                <action android:name="com.googlecode.mindbell.UPDATE_STATUS_NOTIFICATION"/>
            </intent-filter>
        </receiver>

    </application>

</manifest>